.todolist {
    margin: 0 auto;
}

h3 {
    margin-top: 0px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

.li {

    display: flex;
    justify-content: space-between;
}


.active {
    background-color: rgb(137, 206, 236);
}

.change {
    background-color: red;
}

button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 185, 98);
}


@media (max-width: 480px) {
    h3 {
        font-size: 15px;
    }
}
@media (max-width: 370px) {
    h3 {
        font-size: 10px;
    }
}