.todo {
    padding-top: 20px;

    &__progress {
        padding-top: 10px;

        &_title {
            margin-top: 0px;
        }
    }

    &__ul {
        margin-top: 0;
        width: 87% !important;

        &_li {
            width: 100%;
            margin-bottom: 5px;
            padding: 5px;
            background-color: rgb(72, 180, 234);
            display: flex;
            justify-content: space-between;
            align-items: center;


        }

        &_btns {
            width: 44%;
            display: flex;
            justify-content: flex-end;
            &-btn {
                margin-right: 5px;
            }
        }
    }
}
.delete {
    background-color: red;
}
.important {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .todo__ul {
        margin-top: 0;
        width: 86%;
    }
}


@media (max-width: 768px) {
    .todo {
        padding-top: 12px;

        &__ul {
            width: 78%;
            margin-bottom: 0px;
            margin-top: 0;

            &_btns {
                width: 67%;
            }
        }
    }
}

@media (max-width: 370px) {}
    .todo__ul {
    width: 79%;
    margin: 0px auto;
    padding-left: 0px;
    &_li {
        padding: 3px !important;
    }

    .todo__ul_btns-btn {
        margin-right: 1px;
    }
}